/* Main Components */
.App {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden !important;
    position: relative;
}
.main-component {
    width: 100vw;
}
#homepage {
    background-image: linear-gradient(to right bottom, rgb(74, 99, 124), rgb(37, 72, 100), rgb(33, 60, 83), rgb(29, 49, 67));
    position: relative;
    height: 100vh;
}
#biopage {
    background-color: #FFF;
    position: absolute;
    height: calc(100vh - 25px);
    scroll-snap-align: center;
}
#portfoliopage {
    background-color: #FFF;
    position: absolute;
    height: calc(100vh - 25px);
    scroll-snap-align: center;
}
#skillspage {
    background-color: #FFF;
    position: absolute;
    min-height: calc(100vh - 25px);
    scroll-snap-align: center;
}
#contactpage {
    background-color: #FFF;
    position: absolute;
    height: calc(100vh - 25px);
    scroll-snap-align: center;
}
/* Component Specification */
.component-content {
    margin: 20px;
}
.component-header { 
    padding-top: 20px;
}
.component-header h1 {
    color: rgb(33,60,83);
    font-size: 35px;
}