/* Main Components */
.main-component {
    width: 100vw;
}
#homepage {
    background-image: linear-gradient(to right bottom, rgb(74, 99, 124), rgb(37, 72, 100), rgb(33, 60, 83), rgb(29, 49, 67));
    position: relative;
    height: 100vh;
}
#biopage {
    background-color: #FFF;
    position: absolute;
    height: calc(100vh - 25px);
    scroll-snap-align: center;
}
#portfoliopage {
    background-color: #FFF;
    position: absolute;
    height: calc(100vh - 25px);
    scroll-snap-align: center;
}
#skillspage {
    background-color: #FFF;
    position: absolute;
    height: calc(100vh - 25px);
    scroll-snap-align: center;
}
#contactpage {
    background-color: #FFF;
    position: absolute;
    height: calc(100vh - 25px);
    scroll-snap-align: center;
}
/* Display Specifications */
.display-none {
    display: none
}
.inline-block {
    display: inline-block;
}